.search-form {
  margin: 20px 0;
}

.weather-cell {
  vertical-align: middle !important;
  text-align: center !important;
}

.weather-cell--googlemap {
  composes: weather-cell;
  width: 200px;
  height: 200px;
}
